<ng-template #loading>
    <app-spinner></app-spinner>
</ng-template>
<div class="px-3 align-bottom" *ngIf="companyInfo$ | async as companyInfo else loading">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-1 my-2 border-top">
        <p class="col-md-2 mb-0 border-0 align-bottom">© {{companyInfo.name}}</p>
        <p class="col-md-4 mb-0 text-muted border-0">Designed and Developed by
            <strong><em><a href="mailto:ubaid1900@gmail.com">Elhamd Technologies</a></em></strong>
        </p>

        <ul class="nav col-md-3 border-0 justify-content-end p-none">
            <li class="nav-item"><a href="tel:{{companyInfo.phonenumber}}" class="nav-link px-2 text-logo-brown"><i
                        class="bi bi-telephone-plus-fill"> Call us</i></a></li>
            <li class="nav-item"><a href="mailto:{{companyInfo.email}}" class="nav-link px-2 text-logo-brown"><i
                        class="bi bi-envelope-fill"> Email us</i></a></li>
            <li class="nav-item d-none"><a routerLink="./aboutus" class="nav-link px-2 text-logo-brown"><i class="bi bi-building">
                        About</i></a></li>
        </ul>
        <p class="col-md-3 mb-0 border-0 text-end">
            <app-social-media></app-social-media>
        </p>
    </footer>
</div>