<ng-container *ngIf="aboutUsTexts">
    <p class="pt-1">About us
        <button type="button" class="btn" (click)="collapse.toggle()"
            [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
            <i *ngIf="!isCollapsed" title="collapse" class="bi bi-dash"></i>
            <i *ngIf="isCollapsed" title="expand" class="bi bi-fullscreen"></i>
        </button>
    </p>
    <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed" class="border">
        <p class="ps-1 pt-2 font-monospace fst-italic fs-5" *ngIf="aboutUsTexts">
            <ng-container *ngFor="let aboutUsText of aboutUsTexts">
                <span class="cnUL1" *ngIf="aboutUsText" [innerHtml]="aboutUsText"></span>
            </ng-container>
        </p>
    </div>
</ng-container>