ul.confirm-page li h5 { margin-top: 11px;}
ul.confirm-page li ol li { margin: 12px 0px; background: #f6f6f6;  padding: 14px;}
img.img-offerItem{ height: 200px;} 
ul.confirm-page { list-style: none}
ul.confirm-page li.product { margin: 12px 0px; background: #f6f6f6;  padding: 14px; }