<p>product-listing works! {{products?.length}}</p>
<ng-template #loading>
    <app-spinner></app-spinner>
</ng-template>
<ng-container *ngIf="products$ | async as products; else loading">
    <div *ngFor="let product of products">
        <a href="product/{{product.id}}">{{product.name}}</a>        
        <div [innerHTML]="product.description"></div>
        {{product.price}}<br>
        {{product.color}}<br>
        {{product.length}}<br>
        {{product.lengthUnit}}<br>
        {{product.width}}<br>
        {{product.widthUnit}}<br>
        {{product.height}}<br>
        {{product.heightUnit}}<br>
        {{product.weight}}<br>
        {{product.weightUnit}}<br>
        <a [href]="product.amazonLink" target="_blank">Buy on Amazon</a>
        <a *ngIf="product.flipkartLink" [href]="product.flipkartLink" target="_blank">Buy on Flipkart</a>
        {{product.category?.name}}<br>
        {{product.subCategory?.name}}<br>
        <hr>
        <hr>
    </div>
</ng-container>