.link-Amazon a{background-color:#febd69; text-decoration: none; color:#3f3f3f; padding:10px 15px;
     border-radius:5px; margin-right: 10px;}
.link-Amazon a:hover{ text-decoration: underline}
.link-Amazon ul{ list-style: none}
.link-Amazon li{ float:left; margin:15px 0; text-align: center;}
.link-Amazon a.wts-aap{ background-color:#36c638;}
li.app-wats{ display: none;}
@media (min-width: 300px) and (max-width: 991.98px) { 
    li.app-wats{ display: block;}
 li.web-wats{ display: none;}
 }
li.share-pading{margin-right:20px !important;} 