<div class="container">
    <div *ngIf="authenticationService.isUserAdmin()" class="row"><a href="admin/product/edit/{{product.id}}"><i class="bi bi-pencil-square"></i>Edit</a>
    </div>
    <div class="row">
        <div class="col-md-5 col-sm-12">
            <p *ngIf="!(product?.images && product?.images?.length)" class="text-warning">The product does not have any
                images associated with it.</p>
            <ngb-carousel #carousel *ngIf="product?.images && product?.images?.length" [interval]="carouselInterval"
                [pauseOnHover]="false" [showNavigationArrows]="true" style="margin: 0 auto; text-align: center;">
                <ng-template id="{{image?.id}}" ngbSlide *ngFor="let image of product?.images; let index= index;">
                    <div class="carousel-item active">
                        <img [src]="image.imageUrl" alt="{{product?.name}}" style="width: 100%; max-height: 500px;">
                    </div>
                </ng-template>
            </ngb-carousel>
            <hr>
            <section *ngIf="product?.images && product?.images?.length">
                <div class="row">
                    <div class="col-2 border" *ngFor="let image of product?.images; let index= index;">
                        <img id="{{product?.id}}" (click)="setSlide(image.id)" [src]="image.imageUrl" alt="{{product?.name}}" style="width: 100%; max-height: 500px;">
                    </div>
                </div>
            </section>
        </div>
        <div class="col-md-7 col-sm-12">
            <h4 class="title">{{product.name}}</h4>
            Color: {{product.color}}
            <div class="cnUL1" [innerHTML]="product.description"></div>
            <!-- <div class="cnUL2" [innerHTML]="product.description"></div> -->
            <div class="link-Amazon justify-content-end" style="display: flex;">
                <ul>
                    <li> <a [href]="product.amazonLink" class="bg-warning text-dark" target="_blank">Buy on Amazon</a>
                    </li>
                    <li><a *ngIf="product.flipkartLink" [href]="product.flipkartLink"
                            class="link-facebook bg-warning text-white" target="_blank">Buy on Flipkart</a></li>
                </ul>
            </div>
            <hr />

            <div class="link-Amazon justify-content-end" style="display: flex;">
                <ul>
                    <li class="share-pading"> Share to: </li>

                    <li class="padding-share"><a
                            href="https://www.facebook.com/sharer/sharer.php?u={{router['location']._platformLocation.location.origin}}/product/{{product.id}}"
                            class="link-facebook bg-primary text-white" target="_blank">Facebook</a> </li>
                    <li class="web-wats"><a
                            href="https://web.whatsapp.com/send?text={{router['location']._platformLocation.location.origin}}/product/{{product.id}}"
                            data-text="Take a look at this product:" class="wa_btn wa_btn_s wts-aap text-white"
                            target="_blank">Whatsapp</a></li>
                    <li class="app-wats"><a
                            href="whatsapp://send?text={{router['location']._platformLocation.location.origin}}/product/{{product.id}}"
                            data-text="Take a look at this product:" class="wts-aap text-white"
                            target="_blank">Whatsapp</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>