<form class="container" (submit)="submit()" [formGroup]="formGroup" #thisForm="ngForm">
    <h1 class="bd-title" id="content">Manage Sub Category</h1>
    <div class="row">
        <div class="col-md-4">
            <label for="inputCategory" class="col-form-label">Category</label>
            <select class="form-select" name="inputCategory" aria-label="select a Category" formControlName="categoryId">
                <option *ngFor="let category of categories$ | async" [value]="category.id">
                    {{category.name}}</option>
            </select>
            <div *ngIf="categoryId?.invalid && (categoryId?.dirty || categoryId?.touched)" class="alert alert-danger">
                <div *ngIf="categoryId?.errors?.required">
                    Category is required.
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <label for="inputTitle" class="col-form-label">Title</label>
            <input type="text" class="form-control" name="inputTitle" formControlName="name">            
            <div *ngIf="name?.invalid && (name?.dirty || name?.touched)" class="alert alert-danger">
                <div *ngIf="name?.errors?.required">
                    Name is required.
                </div>
                <div *ngIf="name?.errors?.minlength">
                    Name must be at least 3 characters long.
                </div>
                <div *ngIf="name?.errors?.isTaken">
                    Duplicate Category Name
                </div>
            </div>
        </div>
    </div>
    <div class="row">        
        <div class="col-md-4 my-2">
            <label for="formFileLg" class="form-label">Upload the image (Avoid special characters in file name. _ is fine.)</label>
            <form enctype="multipart/form-data">
                <input class="form-control form-control-lg" id="formFileLg" type="file" name="formFileLg"
                    (change)="onFileSelected($event)" accept="image/*">
            </form>
        </div>
        <div class="col-md-4 my-2">
            <br>
            <a *ngIf="subCategory.imageUrl" href="{{subCategory.imageUrl}}" target="_blank">
                <img width="50px" height="50px" name="imageUrl" [src]="subCategory.imageUrl" [alt]="subCategory.name"
                    loading="lazy">
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <button [disabled]="thisForm.invalid" type="submit" class="btn btn-primary">Save</button>
            <a href="/subcategories" class="btn btn-secondary">Back to Sub Categories</a>
        </div>
    </div>
</form>