<ng-template #loading>
    <app-spinner></app-spinner>
</ng-template>
<h3> Categories </h3>
<div *ngIf="categories$ | async as categories; else loading" class="container card bg-light">
    <ng-container *ngIf="display === 'carousel'">
        <ngb-carousel class="pb-2 mb-3" *ngIf="categories && categories.length" [interval]="carouselInterval"
            [pauseOnHover]="true" [showNavigationArrows]="true" style="margin: 0 auto; width: 60%; text-align: center;">
            <ng-template ngbSlide *ngFor="let category of categories; let index= index;">
                <div class="carousel-item active">
                    <a href="category/{{category.id}}">
                        <img *ngIf="category.imageUrl" [src]="category.imageUrl" alt="image for {{category.name}}"
                            style="width: 60%; height: 100px;">
                    </a>
                    <a href="category/{{category.id}}">
                        <h3 class="caption">{{category.name}}</h3>
                    </a>


                    <a href="admin/category/edit/{{category.id}}" *ngIf="authenticationService.isUserAdmin()">Edit</a>
                </div>
            </ng-template>
        </ngb-carousel>
        <a *ngIf="authenticationService.isUserAdmin()" href="admin/category/edit/0">Add a Category</a>
    </ng-container>

    <ng-container *ngIf="display === 'list'">
        <div class="row">
            <div class="col-3 p-2 border" *ngFor="let category of categories">
                <img [src]="category.imageUrl" alt="image for {{category.name}}"
                    style="width: 100%; height: 100px;">
                <h3 class="caption"><a href="category/{{category.id}}">{{category.name}}</a></h3>
                <div *ngIf="authenticationService.isUserAdmin()" class="col">
                    <a href="admin/category/edit/{{category.id}}">Edit</a>
                </div>
            </div>
        </div>
        <a *ngIf="authenticationService.isUserAdmin()" href="admin/category/edit/0">Add a Category</a>
    </ng-container>
    <br>
</div>