<form class="container" (submit)="submit()" [formGroup]="formGroup" #thisForm="ngForm">
    <h1 class="bd-title" id="content">Manage Sub Category</h1>
    <div class="row">
        <div class="col-md-4">
            <label for="inputCategory" class="col-form-label">Category</label>
            <select class="form-select" name="inputCategory" aria-label="select a Category"
                formControlName="categoryId">
                <option *ngFor="let category of categories$ | async" [value]="category.id">
                    {{category.name}}</option>
            </select>
            <div *ngIf="categoryId?.invalid && (categoryId?.dirty || categoryId?.touched)" class="alert alert-danger">
                <div *ngIf="categoryId?.errors?.required">
                    Category is required.
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <label for="inputSubcategory" class="col-form-label">Sub Category</label>
            <select class="form-select" name="inputSubcategory" aria-label="select a Sub Category"
                formControlName="subcategoryId">
                <option *ngFor="let subcategory of subcategories$ | async" [value]="subcategory.id">
                    {{subcategory.name}}</option>
            </select>
            <div *ngIf="subcategoryId?.invalid && (subcategoryId?.dirty || subcategoryId?.touched)"
                class="alert alert-danger">
                <div *ngIf="subcategoryId?.errors?.required">
                    Sub Category is required.
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <label for="inputTitle" class="col-form-label">Title</label>
            <input type="text" class="form-control" name="inputTitle" formControlName="name">
            <div *ngIf="name?.invalid && (name?.dirty || name?.touched)" class="alert alert-danger">
                <div *ngIf="name?.errors?.required">
                    Name is required.
                </div>
                <div *ngIf="name?.errors?.minlength">
                    Name must be at least 3 characters long.
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <label for="inputDescription" class="col-form-label">Description</label>
            <ckeditor [editor]="Editor" data="<ul><li></li></ul>" [config]="{ toolbar: [ 'bulletedList' ] }"  formControlName="description"></ckeditor>
            <div *ngIf="description?.invalid && (description?.dirty || description?.touched)"
                class="alert alert-danger">
                <div *ngIf="description?.errors?.required">
                    Description is required.
                </div>
                <div *ngIf="description?.errors?.minlength">
                    Description must be at least 3 characters long.
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <label for="inputPrice" class="col-form-label">Price</label>
            <input type="text" [appNumbersOnly]="2" class="form-control" name="inputPrice" formControlName="price">
            <div *ngIf="price?.invalid && (price?.dirty || price?.touched)" class="alert alert-danger">
                <div *ngIf="price?.errors?.required">
                    Price is required.
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <label for="inputAvailableQuantity" class="col-form-label">Available Quantity</label>
            <input type="text" [appNumbersOnly]="0" class="form-control" name="inputAvailableQuantity" formControlName="availableQuantity">
            <div *ngIf="availableQuantity?.invalid && (availableQuantity?.dirty || availableQuantity?.touched)"
                class="alert alert-danger">
                <div *ngIf="availableQuantity?.errors?.required">
                    Available Quantity is required.
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <label for="inputReorderLevel" class="col-form-label">Reorder Level</label>
            <input type="text" [appNumbersOnly]="0" class="form-control" name="inputReorderLevel" formControlName="reorderLevel">
            <div *ngIf="reorderLevel?.invalid && (reorderLevel?.dirty || reorderLevel?.touched)"
                class="alert alert-danger">
                <div *ngIf="reorderLevel?.errors?.required">
                    Reorder Level is required.
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <label for="inputColor" class="col-form-label">Color</label>
            <input type="text" class="form-control" name="inputColor" formControlName="color">
            <div *ngIf="color?.invalid && (color?.dirty || color?.touched)" class="alert alert-danger">
                <div *ngIf="color?.errors?.required">
                    Color is required.
                </div>
                <div *ngIf="color?.errors?.minlength">
                    Color must be at least 3 characters long.
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <label for="inputLength" class="col-form-label">Length</label>
            <input type="text" [appNumbersOnly]="2" class="form-control" name="inputLength" formControlName="length">
        </div>
        <div class="col-md-4">
            <label for="inputLengthUnit" class="col-form-label">Length Unit</label>
            <select class="form-select" name="inputLengthUnit" aria-label="select a unit for length"
                formControlName="lengthUnit">
                <option *ngFor="let unit of lengthUnits$ | async" [value]="unit.name">
                    {{unit.name}}</option>
            </select>
        </div>
        <div class="col-md-4">
            <label for="inputWidth" class="col-form-label">Width</label>
            <input type="text" [appNumbersOnly]="2" class="form-control" name="inputWidth" formControlName="width">
        </div>
        <div class="col-md-4">
            <label for="inputWidthUnit" class="col-form-label">Width Unit</label>
            <select class="form-select" name="inputWidthUnit" aria-label="select a unit for width"
                formControlName="widthUnit">
                <option *ngFor="let unit of lengthUnits$ | async" [value]="unit.name">
                    {{unit.name}}</option>
            </select>
        </div>
        <div class="col-md-4">
            <label for="inputHeight" class="col-form-label">Height</label>
            <input type="text" [appNumbersOnly]="2" class="form-control" name="inputHeight" formControlName="height">
        </div>
        <div class="col-md-4">
            <label for="inputHeightUnit" class="col-form-label">Height Unit</label>
            <select class="form-select" name="inputHeightUnit" aria-label="select a unit for height"
                formControlName="heightUnit">
                <option *ngFor="let unit of lengthUnits$ | async" [value]="unit.name">
                    {{unit.name}}</option>
            </select>
        </div>
        <div class="col-md-4">
            <label for="inputWeight" class="col-form-label">Weight</label>
            <input type="text" [appNumbersOnly]="2" class="form-control" name="inputWeight" formControlName="weight">
        </div>
        <div class="col-md-4">
            <label for="inputWeightUnit" class="col-form-label">Weight Unit</label>
            <select class="form-select" name="inputWeightUnit" aria-label="select a unit for weight"
                formControlName="weightUnit">
                <option *ngFor="let unit of weigthUnits$ | async" [value]="unit.name">
                    {{unit.name}}</option>
            </select>
        </div>
        <div class="col-md-4">
            <label for="inputAmazonLink" class="col-form-label">Amazon Link</label>
            <input type="text" class="form-control" name="inputAmazonLink" formControlName="amazonLink">
            <div *ngIf="amazonLink?.invalid && (amazonLink?.dirty || amazonLink?.touched)" class="alert alert-danger">
                <div *ngIf="amazonLink?.errors?.required">
                    Amazon Link is required.
                </div>
                <div *ngIf="amazonLink?.errors?.minlength">
                    Amazon Link must be at least 3 characters long.
                </div>
                <div *ngIf="amazonLink?.errors?.pattern">
                    Amazon Link must be a valid url.
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <label for="inputFlipkartLink" class="col-form-label">Flipkart Link</label>
            <input type="text" class="form-control" name="inputFlipkartLink" formControlName="flipkartLink">
            <div *ngIf="flipkartLink?.invalid && (flipkartLink?.dirty || flipkartLink?.touched)" class="alert alert-danger">
                <div *ngIf="flipkartLink?.errors?.minlength">
                    Flipkart Link must be at least 3 characters long.
                </div>
                <div *ngIf="flipkartLink?.errors?.pattern">
                    Flipkart Link must be a valid url.
                </div>
            </div>
        </div>
        <div class="col-md-4 form-switch">
            <label for="inputExclude" class="col-form-label form-check-label">Exclude from listing</label>
            <div class="form-check form-switch">
                <input class="form-control form-check-input" type="checkbox" name="inputExclude"
                    formControlName="exclude">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <button [disabled]="thisForm.invalid" type="submit" class="btn btn-primary">Save</button>
            <a href="/" class="btn btn-secondary">Back to Home</a>
        </div>
    </div>
</form>