/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";
.carousel-control-next-icon,
.carousel-control-prev-icon {
  filter: invert(1);
}

.carousel-control-next,
.carousel-control-prev {
  width: 2%;
}

.carousel-control-next:hover,
.carousel-control-prev:hover {
  background-color: #4b2c10 !important;
}

.text-logo-green-bold {
  color: #00651f !important;
  font-weight: 700 !important;
}

.text-logo-green {
  color: #00651f !important;
}
.text-logo-brown {
  color: #4b2c10 !important;
  font-weight: 700 !important;
}
.border-logo-brown {
  border-color: #4b2c10 !important;
}
.border-logo-brown:focus { 
  box-shadow: none;
}
.text-wheat {
  color: wheat !important;
}
.bg-logo-green {
  background-color: #00651f;
}
.bg-logo-brown {
  background-color: #4b2c10;
}
.table-striped > tbody > tr:nth-child(2n + 1) > td,
.table-striped > tbody > tr:nth-child(2n + 1) > th {
  background-color: #def1e8;
}
.table-striped > thead {
  background-color: #00651f;
  color: white;
}
.thead {
  background-color: #00651f;
  color: white;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.cnUL1 ul {
  list-style-image: url('./assets/list_button1.png');
}
a {
  color: #00651f;
} 
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  border: 0;
}
.mat-menu-item:hover:not([disabled]), .mat-menu-item.cdk-program-focused:not([disabled]), .mat-menu-item.cdk-keyboard-focused:not([disabled]), .mat-menu-item-highlighted:not([disabled]) {
  background: rgba(0,0,0,.04);
  color: #4b2c10 !important;
}
.line-clamp {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
}