<div class="container-fluid">
  <!-- <app-flyout></app-flyout> -->

  <ng-container>
    <span *ngFor="let item of items">
      <!-- Handle branch node buttons here -->
      <span *ngIf="item.children && item.children.length > 0">
        <button mat-raised-button color="primary" [matMenuTriggerFor]="menu.childMenu" #topMenuTrigger="matMenuTrigger"
          (mouseover)="topMenuTrigger.openMenu()" class="d-none d-md-block">
          {{item.displayName}}
          <!-- <mat-icon>expand_more</mat-icon> -->
        </button>
        <button mat-raised-button color="primary" [matMenuTriggerFor]="menu.childMenu" #topMenuTrigger="matMenuTrigger"
          class="d-md-none">
          {{item.displayName}}
          <!-- <mat-icon>expand_more</mat-icon> -->
        </button>
        <app-flyout #menu [items]="item.children"></app-flyout>
      </span>
      <!-- Leaf node buttons here -->
      <span *ngIf="!item.children || item.children.length === 0">
        <button mat-button color="primary" [routerLink]="item.route">
          {{item.displayName}}
        </button>
      </span>
    </span>
  </ng-container>
  <!-- <app-sub-category-list display="carousel"></app-sub-category-list> -->
  <app-category-list display="carousel" [showHeader]="true"></app-category-list>
  <br>
  <app-product-listing [limit]="8" [showHeader]="true" headerText="New Arrivals"></app-product-listing>
</div>